<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlianlian.spring.mybatis.dao.CalculationDetailMapper">
	<!-- Cache 配置 -->
	<cache eviction="FIFO" flushInterval="3600000" size="512" />
	<resultMap id="BaseResultMap"
		type="com.jxlianlian.spring.mybatis.model.CalculationDetail">
		<id column="calculation_detail_id" property="calculationDetailId"
			jdbcType="INTEGER" />
		<result column="time_sum" property="timeSum" jdbcType="VARCHAR" />
		<result column="total" property="total" jdbcType="VARCHAR" />
		<result column="ticket_period" property="ticketPeriod"
			jdbcType="VARCHAR" />
		<result column="ticket_number" property="ticketNumber"
			jdbcType="VARCHAR" />
		<result column="variable" property="variable" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		calculation_detail_id, time_sum, total, ticket_period,
		ticket_number, variable
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from calculation_detail
		where calculation_detail_id =
		#{calculationDetailId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		calculation_detail
		where calculation_detail_id =
		#{calculationDetailId,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.jxlianlian.spring.mybatis.model.CalculationDetail">
		insert into calculation_detail (calculation_detail_id,
		time_sum,
		total,
		ticket_period, ticket_number, variable
		)
		values
		(#{calculationDetailId,jdbcType=INTEGER},
		#{timeSum,jdbcType=VARCHAR},
		#{total,jdbcType=VARCHAR},
		#{ticketPeriod,jdbcType=VARCHAR},
		#{ticketNumber,jdbcType=VARCHAR},
		#{variable,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.jxlianlian.spring.mybatis.model.CalculationDetail">
		insert into calculation_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="calculationDetailId != null">
				calculation_detail_id,
			</if>
			<if test="timeSum != null">
				time_sum,
			</if>
			<if test="total != null">
				total,
			</if>
			<if test="ticketPeriod != null">
				ticket_period,
			</if>
			<if test="ticketNumber != null">
				ticket_number,
			</if>
			<if test="variable != null">
				variable,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="calculationDetailId != null">
				#{calculationDetailId,jdbcType=INTEGER},
			</if>
			<if test="timeSum != null">
				#{timeSum,jdbcType=VARCHAR},
			</if>
			<if test="total != null">
				#{total,jdbcType=VARCHAR},
			</if>
			<if test="ticketPeriod != null">
				#{ticketPeriod,jdbcType=VARCHAR},
			</if>
			<if test="ticketNumber != null">
				#{ticketNumber,jdbcType=VARCHAR},
			</if>
			<if test="variable != null">
				#{variable,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.jxlianlian.spring.mybatis.model.CalculationDetail">
		update calculation_detail
		<set>
			<if test="timeSum != null">
				time_sum = #{timeSum,jdbcType=VARCHAR},
			</if>
			<if test="total != null">
				total = #{total,jdbcType=VARCHAR},
			</if>
			<if test="ticketPeriod != null">
				ticket_period = #{ticketPeriod,jdbcType=VARCHAR},
			</if>
			<if test="ticketNumber != null">
				ticket_number = #{ticketNumber,jdbcType=VARCHAR},
			</if>
			<if test="variable != null">
				variable = #{variable,jdbcType=VARCHAR},
			</if>
		</set>
		where calculation_detail_id = #{calculationDetailId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.jxlianlian.spring.mybatis.model.CalculationDetail">
		update calculation_detail
		set time_sum =
		#{timeSum,jdbcType=VARCHAR},
		total = #{total,jdbcType=VARCHAR},
		ticket_period = #{ticketPeriod,jdbcType=VARCHAR},
		ticket_number =
		#{ticketNumber,jdbcType=VARCHAR},
		variable =
		#{variable,jdbcType=VARCHAR}
		where calculation_detail_id =
		#{calculationDetailId,jdbcType=INTEGER}
	</update>
</mapper>