<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlianlian.spring.mybatis.dao.GoodsTemplateMapper">
  <!-- Cache 配置 -->  
  <cache eviction="LRU" flushInterval="86400000" size="512"/>
	<resultMap id="BaseResultMap"
		type="com.jxlianlian.spring.mybatis.model.GoodsTemplate">
		<id column="goods_template_id" property="goodsTemplateId" jdbcType="BIGINT" />
		<result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
		<result column="little_pic" property="littlePic" jdbcType="VARCHAR" />
		<result column="goods_type" property="goodsType" jdbcType="TINYINT" />
		<result column="price" property="price" jdbcType="VARCHAR" />
		<result column="total" property="total" jdbcType="BIGINT" />
		<result column="unit_price" property="unitPrice" jdbcType="INTEGER" />
		<result column="goods_content" property="goodsContent"
			jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="preview_pic_first" property="previewPicFirst"
			jdbcType="VARCHAR" />
		<result column="preview_pic_second" property="previewPicSecond"
			jdbcType="VARCHAR" />
		<result column="preview_pic_third" property="previewPicThird"
			jdbcType="VARCHAR" />
		<result column="preview_pic_fourth" property="previewPicFourth"
			jdbcType="VARCHAR" />
		<result column="preview_pic_fifth" property="previewPicFifth"
			jdbcType="VARCHAR" />
		<result column="detail_pic_first" property="detailPicFirst"
			jdbcType="VARCHAR" />
		<result column="detail_pic_second" property="detailPicSecond"
			jdbcType="VARCHAR" />
		<result column="detail_pic_third" property="detailPicThird"
			jdbcType="VARCHAR" />
		<result column="detail_pic_fourth" property="detailPicFourth"
			jdbcType="VARCHAR" />
		<result column="detail_pic_fifth" property="detailPicFifth"
			jdbcType="VARCHAR" />
		<result column="detail_pic_sixth" property="detailPicSixth"
			jdbcType="VARCHAR" />
		<result column="detail_pic_seventh" property="detailPicSeventh"
			jdbcType="VARCHAR" />
		<result column="detail_pic_eighth" property="detailPicEighth"
			jdbcType="VARCHAR" />
		<result column="detail_pic_ninth" property="detailPicNinth"
			jdbcType="VARCHAR" />
		<result column="detail_pic_tenth" property="detailPicTenth"
			jdbcType="VARCHAR" />
		<result column="stock" property="stock" jdbcType="BIGINT" />
		<result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		goods_template_id, goods_name, little_pic, goods_type, price, total, unit_price,
		goods_content, memo, preview_pic_first, preview_pic_second,
		preview_pic_third, preview_pic_fourth,
		preview_pic_fifth, detail_pic_first, detail_pic_second, detail_pic_third,
		detail_pic_fourth,
		detail_pic_fifth, detail_pic_sixth, detail_pic_seventh, detail_pic_eighth,
		detail_pic_ninth,
		detail_pic_tenth, stock, insert_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from goods_template
		where goods_template_id = #{goodsTemplateId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from goods_template
		where goods_template_id = #{goodsTemplateId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.jxlianlian.spring.mybatis.model.GoodsTemplate">
		insert into goods_template (goods_template_id, goods_name, little_pic,
		goods_type, price, total,
		unit_price, goods_content, memo,
		preview_pic_first, preview_pic_second, preview_pic_third,
		preview_pic_fourth, preview_pic_fifth, detail_pic_first,
		detail_pic_second, detail_pic_third, detail_pic_fourth,
		detail_pic_fifth, detail_pic_sixth, detail_pic_seventh,
		detail_pic_eighth, detail_pic_ninth, detail_pic_tenth,
		stock, insert_time, update_time
		)
		values (#{goodsTemplateId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR},
		#{littlePic,jdbcType=VARCHAR},
		#{goodsType,jdbcType=TINYINT}, #{price,jdbcType=VARCHAR}, #{total,jdbcType=BIGINT},
		#{unitPrice,jdbcType=INTEGER}, #{goodsContent,jdbcType=VARCHAR},
		#{memo,jdbcType=VARCHAR},
		#{previewPicFirst,jdbcType=VARCHAR}, #{previewPicSecond,jdbcType=VARCHAR},
		#{previewPicThird,jdbcType=VARCHAR},
		#{previewPicFourth,jdbcType=VARCHAR},
		#{previewPicFifth,jdbcType=VARCHAR},
		#{detailPicFirst,jdbcType=VARCHAR},
		#{detailPicSecond,jdbcType=VARCHAR},
		#{detailPicThird,jdbcType=VARCHAR},
		#{detailPicFourth,jdbcType=VARCHAR},
		#{detailPicFifth,jdbcType=VARCHAR},
		#{detailPicSixth,jdbcType=VARCHAR},
		#{detailPicSeventh,jdbcType=VARCHAR},
		#{detailPicEighth,jdbcType=VARCHAR},
		#{detailPicNinth,jdbcType=VARCHAR},
		#{detailPicTenth,jdbcType=VARCHAR},
		#{stock,jdbcType=BIGINT}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jxlianlian.spring.mybatis.model.GoodsTemplate">
		insert into goods_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="goodsTemplateId != null">
				goods_template_id,
			</if>
			<if test="goodsName != null">
				goods_name,
			</if>
			<if test="littlePic != null">
				little_pic,
			</if>
			<if test="goodsType != null">
				goods_type,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="total != null">
				total,
			</if>
			<if test="unitPrice != null">
				unit_price,
			</if>
			<if test="goodsContent != null">
				goods_content,
			</if>
			<if test="memo != null">
				memo,
			</if>
			<if test="previewPicFirst != null">
				preview_pic_first,
			</if>
			<if test="previewPicSecond != null">
				preview_pic_second,
			</if>
			<if test="previewPicThird != null">
				preview_pic_third,
			</if>
			<if test="previewPicFourth != null">
				preview_pic_fourth,
			</if>
			<if test="previewPicFifth != null">
				preview_pic_fifth,
			</if>
			<if test="detailPicFirst != null">
				detail_pic_first,
			</if>
			<if test="detailPicSecond != null">
				detail_pic_second,
			</if>
			<if test="detailPicThird != null">
				detail_pic_third,
			</if>
			<if test="detailPicFourth != null">
				detail_pic_fourth,
			</if>
			<if test="detailPicFifth != null">
				detail_pic_fifth,
			</if>
			<if test="detailPicSixth != null">
				detail_pic_sixth,
			</if>
			<if test="detailPicSeventh != null">
				detail_pic_seventh,
			</if>
			<if test="detailPicEighth != null">
				detail_pic_eighth,
			</if>
			<if test="detailPicNinth != null">
				detail_pic_ninth,
			</if>
			<if test="detailPicTenth != null">
				detail_pic_tenth,
			</if>
			<if test="stock != null">
				stock,
			</if>
			<if test="insertTime != null">
				insert_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="goodsTemplateId != null">
				#{goodsTemplateId,jdbcType=BIGINT},
			</if>
			<if test="goodsName != null">
				#{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="littlePic != null">
				#{littlePic,jdbcType=VARCHAR},
			</if>
			<if test="goodsType != null">
				#{goodsType,jdbcType=TINYINT},
			</if>
			<if test="price != null">
				#{price,jdbcType=VARCHAR},
			</if>
			<if test="total != null">
				#{total,jdbcType=BIGINT},
			</if>
			<if test="unitPrice != null">
				#{unitPrice,jdbcType=INTEGER},
			</if>
			<if test="goodsContent != null">
				#{goodsContent,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="previewPicFirst != null">
				#{previewPicFirst,jdbcType=VARCHAR},
			</if>
			<if test="previewPicSecond != null">
				#{previewPicSecond,jdbcType=VARCHAR},
			</if>
			<if test="previewPicThird != null">
				#{previewPicThird,jdbcType=VARCHAR},
			</if>
			<if test="previewPicFourth != null">
				#{previewPicFourth,jdbcType=VARCHAR},
			</if>
			<if test="previewPicFifth != null">
				#{previewPicFifth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicFirst != null">
				#{detailPicFirst,jdbcType=VARCHAR},
			</if>
			<if test="detailPicSecond != null">
				#{detailPicSecond,jdbcType=VARCHAR},
			</if>
			<if test="detailPicThird != null">
				#{detailPicThird,jdbcType=VARCHAR},
			</if>
			<if test="detailPicFourth != null">
				#{detailPicFourth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicFifth != null">
				#{detailPicFifth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicSixth != null">
				#{detailPicSixth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicSeventh != null">
				#{detailPicSeventh,jdbcType=VARCHAR},
			</if>
			<if test="detailPicEighth != null">
				#{detailPicEighth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicNinth != null">
				#{detailPicNinth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicTenth != null">
				#{detailPicTenth,jdbcType=VARCHAR},
			</if>
			<if test="stock != null">
				#{stock,jdbcType=BIGINT},
			</if>
			<if test="insertTime != null">
				#{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jxlianlian.spring.mybatis.model.GoodsTemplate">
		update goods_template
		<set>
			<if test="goodsName != null">
				goods_name = #{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="littlePic != null">
				little_pic = #{littlePic,jdbcType=VARCHAR},
			</if>
			<if test="goodsType != null">
				goods_type = #{goodsType,jdbcType=TINYINT},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=VARCHAR},
			</if>
			<if test="total != null">
				total = #{total,jdbcType=BIGINT},
			</if>
			<if test="unitPrice != null">
				unit_price = #{unitPrice,jdbcType=INTEGER},
			</if>
			<if test="goodsContent != null">
				goods_content = #{goodsContent,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="previewPicFirst != null">
				preview_pic_first = #{previewPicFirst,jdbcType=VARCHAR},
			</if>
			<if test="previewPicSecond != null">
				preview_pic_second = #{previewPicSecond,jdbcType=VARCHAR},
			</if>
			<if test="previewPicThird != null">
				preview_pic_third = #{previewPicThird,jdbcType=VARCHAR},
			</if>
			<if test="previewPicFourth != null">
				preview_pic_fourth = #{previewPicFourth,jdbcType=VARCHAR},
			</if>
			<if test="previewPicFifth != null">
				preview_pic_fifth = #{previewPicFifth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicFirst != null">
				detail_pic_first = #{detailPicFirst,jdbcType=VARCHAR},
			</if>
			<if test="detailPicSecond != null">
				detail_pic_second = #{detailPicSecond,jdbcType=VARCHAR},
			</if>
			<if test="detailPicThird != null">
				detail_pic_third = #{detailPicThird,jdbcType=VARCHAR},
			</if>
			<if test="detailPicFourth != null">
				detail_pic_fourth = #{detailPicFourth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicFifth != null">
				detail_pic_fifth = #{detailPicFifth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicSixth != null">
				detail_pic_sixth = #{detailPicSixth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicSeventh != null">
				detail_pic_seventh = #{detailPicSeventh,jdbcType=VARCHAR},
			</if>
			<if test="detailPicEighth != null">
				detail_pic_eighth = #{detailPicEighth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicNinth != null">
				detail_pic_ninth = #{detailPicNinth,jdbcType=VARCHAR},
			</if>
			<if test="detailPicTenth != null">
				detail_pic_tenth = #{detailPicTenth,jdbcType=VARCHAR},
			</if>
			<if test="stock != null">
				stock = #{stock,jdbcType=BIGINT},
			</if>
			<if test="insertTime != null">
				insert_time = #{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where goods_template_id = #{goodsTemplateId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jxlianlian.spring.mybatis.model.GoodsTemplate">
		update goods_template
		set goods_name = #{goodsName,jdbcType=VARCHAR},
		little_pic = #{littlePic,jdbcType=VARCHAR},
		goods_type = #{goodsType,jdbcType=TINYINT},
		price = #{price,jdbcType=VARCHAR},
		total = #{total,jdbcType=BIGINT},
		unit_price = #{unitPrice,jdbcType=INTEGER},
		goods_content = #{goodsContent,jdbcType=VARCHAR},
		memo = #{memo,jdbcType=VARCHAR},
		preview_pic_first = #{previewPicFirst,jdbcType=VARCHAR},
		preview_pic_second = #{previewPicSecond,jdbcType=VARCHAR},
		preview_pic_third = #{previewPicThird,jdbcType=VARCHAR},
		preview_pic_fourth = #{previewPicFourth,jdbcType=VARCHAR},
		preview_pic_fifth = #{previewPicFifth,jdbcType=VARCHAR},
		detail_pic_first = #{detailPicFirst,jdbcType=VARCHAR},
		detail_pic_second = #{detailPicSecond,jdbcType=VARCHAR},
		detail_pic_third = #{detailPicThird,jdbcType=VARCHAR},
		detail_pic_fourth = #{detailPicFourth,jdbcType=VARCHAR},
		detail_pic_fifth = #{detailPicFifth,jdbcType=VARCHAR},
		detail_pic_sixth = #{detailPicSixth,jdbcType=VARCHAR},
		detail_pic_seventh = #{detailPicSeventh,jdbcType=VARCHAR},
		detail_pic_eighth = #{detailPicEighth,jdbcType=VARCHAR},
		detail_pic_ninth = #{detailPicNinth,jdbcType=VARCHAR},
		detail_pic_tenth = #{detailPicTenth,jdbcType=VARCHAR},
		stock = #{stock,jdbcType=BIGINT},
		insert_time = #{insertTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where goods_template_id = #{goodsTemplateId,jdbcType=BIGINT}
	</update>
</mapper>