<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlianlian.spring.mybatis.dao.MoneyDetailMapper">
  <!-- Cache 配置 -->  
  <cache eviction="LRU" flushInterval="300000" size="10240"/>
	<resultMap id="BaseResultMap"
		type="com.jxlianlian.spring.mybatis.model.MoneyDetail">
		<id column="money_detail_id" property="moneyDetailId" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="money_type" property="moneyType" jdbcType="TINYINT" />
		<result column="way" property="way" jdbcType="TINYINT" />
		<result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
		<result column="money" property="money" jdbcType="DECIMAL" />
	</resultMap>
	<sql id="Base_Column_List">
		money_detail_id, user_id, money_type, way, insert_time, money
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from money_detail
		where money_detail_id = #{moneyDetailId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from money_detail
		where money_detail_id = #{moneyDetailId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.jxlianlian.spring.mybatis.model.MoneyDetail">
		insert into money_detail (money_detail_id, user_id, money_type,
		way, insert_time, money
		)
		values (#{moneyDetailId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
		#{moneyType,jdbcType=TINYINT},
		#{way,jdbcType=TINYINT}, #{insertTime,jdbcType=TIMESTAMP}, #{money,jdbcType=DECIMAL}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jxlianlian.spring.mybatis.model.MoneyDetail">
		insert into money_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="moneyDetailId != null">
				money_detail_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="moneyType != null">
				money_type,
			</if>
			<if test="way != null">
				way,
			</if>
			<if test="insertTime != null">
				insert_time,
			</if>
			<if test="money != null">
				money,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="moneyDetailId != null">
				#{moneyDetailId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="moneyType != null">
				#{moneyType,jdbcType=TINYINT},
			</if>
			<if test="way != null">
				#{way,jdbcType=TINYINT},
			</if>
			<if test="insertTime != null">
				#{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="money != null">
				#{money,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jxlianlian.spring.mybatis.model.MoneyDetail">
		update money_detail
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="moneyType != null">
				money_type = #{moneyType,jdbcType=TINYINT},
			</if>
			<if test="way != null">
				way = #{way,jdbcType=TINYINT},
			</if>
			<if test="insertTime != null">
				insert_time = #{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="money != null">
				money = #{money,jdbcType=DECIMAL},
			</if>
		</set>
		where money_detail_id = #{moneyDetailId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jxlianlian.spring.mybatis.model.MoneyDetail">
		update money_detail
		set user_id = #{userId,jdbcType=BIGINT},
		money_type = #{moneyType,jdbcType=TINYINT},
		way = #{way,jdbcType=TINYINT},
		insert_time = #{insertTime,jdbcType=TIMESTAMP},
		money = #{money,jdbcType=DECIMAL}
		where money_detail_id = #{moneyDetailId,jdbcType=BIGINT}
	</update>
</mapper>