<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlianlian.spring.mybatis.dao.PromotionMapper">
	<!-- Cache 配置 -->
	<cache eviction="FIFO" flushInterval="7200000" size="30" />
	<resultMap id="BaseResultMap" type="com.jxlianlian.spring.mybatis.model.Promotion">
		<id column="promotion_id" property="promotionId" jdbcType="BIGINT" />
		<result column="promotion_name" property="promotionName"
			jdbcType="VARCHAR" />
		<result column="promotion_src" property="promotionSrc"
			jdbcType="VARCHAR" />
		<result column="width" property="width" jdbcType="INTEGER" />
		<result column="height" property="height" jdbcType="INTEGER" />
		<result column="promotion_type" property="promotionType"
			jdbcType="TINYINT" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="promotion_url" property="promotionUrl"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		promotion_id, promotion_name, promotion_src, width, height,
		promotion_type,
		start_time,
		end_time, promotion_url
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from promotion
		where promotion_id = #{promotionId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		promotion
		where promotion_id = #{promotionId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.jxlianlian.spring.mybatis.model.Promotion">
		insert into promotion
		(promotion_id, promotion_name, promotion_src,
		width, height,
		promotion_type,
		start_time, end_time, promotion_url
		)
		values
		(#{promotionId,jdbcType=BIGINT}, #{promotionName,jdbcType=VARCHAR},
		#{promotionSrc,jdbcType=VARCHAR},
		#{width,jdbcType=INTEGER},
		#{height,jdbcType=INTEGER}, #{promotionType,jdbcType=TINYINT},
		#{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
		#{promotionUrl,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jxlianlian.spring.mybatis.model.Promotion">
		insert into promotion
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="promotionId != null">
				promotion_id,
			</if>
			<if test="promotionName != null">
				promotion_name,
			</if>
			<if test="promotionSrc != null">
				promotion_src,
			</if>
			<if test="width != null">
				width,
			</if>
			<if test="height != null">
				height,
			</if>
			<if test="promotionType != null">
				promotion_type,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="promotionUrl != null">
				promotion_url,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="promotionId != null">
				#{promotionId,jdbcType=BIGINT},
			</if>
			<if test="promotionName != null">
				#{promotionName,jdbcType=VARCHAR},
			</if>
			<if test="promotionSrc != null">
				#{promotionSrc,jdbcType=VARCHAR},
			</if>
			<if test="width != null">
				#{width,jdbcType=INTEGER},
			</if>
			<if test="height != null">
				#{height,jdbcType=INTEGER},
			</if>
			<if test="promotionType != null">
				#{promotionType,jdbcType=TINYINT},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="promotionUrl != null">
				#{promotionUrl,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jxlianlian.spring.mybatis.model.Promotion">
		update promotion
		<set>
			<if test="promotionName != null">
				promotion_name = #{promotionName,jdbcType=VARCHAR},
			</if>
			<if test="promotionSrc != null">
				promotion_src = #{promotionSrc,jdbcType=VARCHAR},
			</if>
			<if test="width != null">
				width = #{width,jdbcType=INTEGER},
			</if>
			<if test="height != null">
				height = #{height,jdbcType=INTEGER},
			</if>
			<if test="promotionType != null">
				promotion_type = #{promotionType,jdbcType=TINYINT},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="promotionUrl != null">
				promotion_url = #{promotionUrl,jdbcType=VARCHAR},
			</if>
		</set>
		where promotion_id = #{promotionId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jxlianlian.spring.mybatis.model.Promotion">
		update promotion
		set promotion_name = #{promotionName,jdbcType=VARCHAR},
		promotion_src =
		#{promotionSrc,jdbcType=VARCHAR},
		width = #{width,jdbcType=INTEGER},
		height = #{height,jdbcType=INTEGER},
		promotion_type =
		#{promotionType,jdbcType=TINYINT},
		start_time =
		#{startTime,jdbcType=TIMESTAMP},
		end_time =
		#{endTime,jdbcType=TIMESTAMP},
		promotion_url =
		#{promotionUrl,jdbcType=VARCHAR}
		where promotion_id =
		#{promotionId,jdbcType=BIGINT}
	</update>
</mapper>