<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlianlian.spring.mybatis.dao.PublishRecordDetailMapper">
  <!-- Cache 配置 -->  
  <cache eviction="LRU" flushInterval="30000" size="128"/>
	<resultMap id="BaseResultMap"
		type="com.jxlianlian.spring.mybatis.model.PublishRecordDetail">
		<id column="publish_record_detail_id" property="publishRecordDetailId"
			jdbcType="BIGINT" />
		<result column="goods_status" property="goodsStatus" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="goods_id" property="goodsId" jdbcType="BIGINT" />
		<result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
		<result column="little_pic" property="littlePic" jdbcType="VARCHAR" />
		<result column="total" property="total" jdbcType="BIGINT" />
		<result column="buy_count" property="buyCount" jdbcType="VARCHAR" />
		<result column="lucky_number" property="luckyNumber" jdbcType="VARCHAR" />
		<result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
		<result column="consignee" property="consignee" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="shipping_address" property="shippingAddress"
			jdbcType="VARCHAR" />
		<result column="confirm_shipping_address_time" property="confirmShippingAddressTime"
			jdbcType="TIMESTAMP" />
		<result column="logistics_name" property="logisticsName"
			jdbcType="VARCHAR" />
		<result column="logistics_company" property="logisticsCompany"
			jdbcType="VARCHAR" />
		<result column="waybill_number" property="waybillNumber"
			jdbcType="VARCHAR" />
		<result column="shipper" property="shipper" jdbcType="BIGINT" />
		<result column="deliver_goods_time" property="deliverGoodsTime"
			jdbcType="TIMESTAMP" />
		<result column="confirm_receive_time" property="confirmReceiveTime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		publish_record_detail_id, goods_status, user_id, goods_id, goods_name, little_pic,
		total, buy_count, lucky_number, publish_time, consignee, phone,
		shipping_address,
		confirm_shipping_address_time, logistics_name, logistics_company, waybill_number,
		shipper, deliver_goods_time, confirm_receive_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from publish_record_detail
		where publish_record_detail_id = #{publishRecordDetailId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from publish_record_detail
		where publish_record_detail_id = #{publishRecordDetailId,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="com.jxlianlian.spring.mybatis.model.PublishRecordDetail">
		insert into publish_record_detail (publish_record_detail_id,
		goods_status,
		user_id, goods_id, goods_name,
		little_pic, total, buy_count,
		lucky_number, publish_time, consignee,
		phone, shipping_address, confirm_shipping_address_time,
		logistics_name, logistics_company, waybill_number,
		shipper, deliver_goods_time, confirm_receive_time
		)
		values (#{publishRecordDetailId,jdbcType=BIGINT},
		#{goodsStatus,jdbcType=INTEGER},
		#{userId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR},
		#{littlePic,jdbcType=VARCHAR}, #{total,jdbcType=BIGINT},
		#{buyCount,jdbcType=VARCHAR},
		#{luckyNumber,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, #{consignee,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}, #{shippingAddress,jdbcType=VARCHAR},
		#{confirmShippingAddressTime,jdbcType=TIMESTAMP},
		#{logisticsName,jdbcType=VARCHAR},
		#{logisticsCompany,jdbcType=VARCHAR},
		#{waybillNumber,jdbcType=VARCHAR},
		#{shipper,jdbcType=BIGINT}, #{deliverGoodsTime,jdbcType=TIMESTAMP},
		#{confirmReceiveTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.jxlianlian.spring.mybatis.model.PublishRecordDetail">
		insert into publish_record_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="publishRecordDetailId != null">
				publish_record_detail_id,
			</if>
			<if test="goodsStatus != null">
				goods_status,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="goodsName != null">
				goods_name,
			</if>
			<if test="littlePic != null">
				little_pic,
			</if>
			<if test="total != null">
				total,
			</if>
			<if test="buyCount != null">
				buy_count,
			</if>
			<if test="luckyNumber != null">
				lucky_number,
			</if>
			<if test="publishTime != null">
				publish_time,
			</if>
			<if test="consignee != null">
				consignee,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="shippingAddress != null">
				shipping_address,
			</if>
			<if test="confirmShippingAddressTime != null">
				confirm_shipping_address_time,
			</if>
			<if test="logisticsName != null">
				logistics_name,
			</if>
			<if test="logisticsCompany != null">
				logistics_company,
			</if>
			<if test="waybillNumber != null">
				waybill_number,
			</if>
			<if test="shipper != null">
				shipper,
			</if>
			<if test="deliverGoodsTime != null">
				deliver_goods_time,
			</if>
			<if test="confirmReceiveTime != null">
				confirm_receive_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="publishRecordDetailId != null">
				#{publishRecordDetailId,jdbcType=BIGINT},
			</if>
			<if test="goodsStatus != null">
				#{goodsStatus,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="goodsId != null">
				#{goodsId,jdbcType=BIGINT},
			</if>
			<if test="goodsName != null">
				#{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="littlePic != null">
				#{littlePic,jdbcType=VARCHAR},
			</if>
			<if test="total != null">
				#{total,jdbcType=BIGINT},
			</if>
			<if test="buyCount != null">
				#{buyCount,jdbcType=VARCHAR},
			</if>
			<if test="luckyNumber != null">
				#{luckyNumber,jdbcType=VARCHAR},
			</if>
			<if test="publishTime != null">
				#{publishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="consignee != null">
				#{consignee,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="shippingAddress != null">
				#{shippingAddress,jdbcType=VARCHAR},
			</if>
			<if test="confirmShippingAddressTime != null">
				#{confirmShippingAddressTime,jdbcType=TIMESTAMP},
			</if>
			<if test="logisticsName != null">
				#{logisticsName,jdbcType=VARCHAR},
			</if>
			<if test="logisticsCompany != null">
				#{logisticsCompany,jdbcType=VARCHAR},
			</if>
			<if test="waybillNumber != null">
				#{waybillNumber,jdbcType=VARCHAR},
			</if>
			<if test="shipper != null">
				#{shipper,jdbcType=BIGINT},
			</if>
			<if test="deliverGoodsTime != null">
				#{deliverGoodsTime,jdbcType=TIMESTAMP},
			</if>
			<if test="confirmReceiveTime != null">
				#{confirmReceiveTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.jxlianlian.spring.mybatis.model.PublishRecordDetail">
		update publish_record_detail
		<set>
			<if test="goodsStatus != null">
				goods_status = #{goodsStatus,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="goodsId != null">
				goods_id = #{goodsId,jdbcType=BIGINT},
			</if>
			<if test="goodsName != null">
				goods_name = #{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="littlePic != null">
				little_pic = #{littlePic,jdbcType=VARCHAR},
			</if>
			<if test="total != null">
				total = #{total,jdbcType=BIGINT},
			</if>
			<if test="buyCount != null">
				buy_count = #{buyCount,jdbcType=VARCHAR},
			</if>
			<if test="luckyNumber != null">
				lucky_number = #{luckyNumber,jdbcType=VARCHAR},
			</if>
			<if test="publishTime != null">
				publish_time = #{publishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="consignee != null">
				consignee = #{consignee,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="shippingAddress != null">
				shipping_address = #{shippingAddress,jdbcType=VARCHAR},
			</if>
			<if test="confirmShippingAddressTime != null">
				confirm_shipping_address_time =
				#{confirmShippingAddressTime,jdbcType=TIMESTAMP},
			</if>
			<if test="logisticsName != null">
				logistics_name = #{logisticsName,jdbcType=VARCHAR},
			</if>
			<if test="logisticsCompany != null">
				logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
			</if>
			<if test="waybillNumber != null">
				waybill_number = #{waybillNumber,jdbcType=VARCHAR},
			</if>
			<if test="shipper != null">
				shipper = #{shipper,jdbcType=BIGINT},
			</if>
			<if test="deliverGoodsTime != null">
				deliver_goods_time = #{deliverGoodsTime,jdbcType=TIMESTAMP},
			</if>
			<if test="confirmReceiveTime != null">
				confirm_receive_time = #{confirmReceiveTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where publish_record_detail_id =
		#{publishRecordDetailId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.jxlianlian.spring.mybatis.model.PublishRecordDetail">
		update publish_record_detail
		set goods_status = #{goodsStatus,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=BIGINT},
		goods_id = #{goodsId,jdbcType=BIGINT},
		goods_name = #{goodsName,jdbcType=VARCHAR},
		little_pic = #{littlePic,jdbcType=VARCHAR},
		total = #{total,jdbcType=BIGINT},
		buy_count = #{buyCount,jdbcType=VARCHAR},
		lucky_number = #{luckyNumber,jdbcType=VARCHAR},
		publish_time = #{publishTime,jdbcType=TIMESTAMP},
		consignee = #{consignee,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		shipping_address = #{shippingAddress,jdbcType=VARCHAR},
		confirm_shipping_address_time = #{confirmShippingAddressTime,jdbcType=TIMESTAMP},
		logistics_name = #{logisticsName,jdbcType=VARCHAR},
		logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
		waybill_number = #{waybillNumber,jdbcType=VARCHAR},
		shipper = #{shipper,jdbcType=BIGINT},
		deliver_goods_time = #{deliverGoodsTime,jdbcType=TIMESTAMP},
		confirm_receive_time = #{confirmReceiveTime,jdbcType=TIMESTAMP}
		where publish_record_detail_id = #{publishRecordDetailId,jdbcType=BIGINT}
	</update>
</mapper>