<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxlianlian.spring.mybatis.dao.ShareRecordMapper">
  <!-- Cache 配置 -->  
  <cache eviction="LRU" flushInterval="3600000" size="512"/>
	<resultMap id="BaseResultMap"
		type="com.jxlianlian.spring.mybatis.model.ShareRecord">
		<id column="share_record_id" property="shareRecordId" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="head" property="head" jdbcType="VARCHAR" />
		<result column="goods_id" property="goodsId" jdbcType="BIGINT" />
		<result column="goods_template_id" property="goodsTemplateId"
			jdbcType="BIGINT" />
		<result column="period" property="period" jdbcType="BIGINT" />
		<result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="pic_first" property="picFirst" jdbcType="VARCHAR" />
		<result column="pic_second" property="picSecond" jdbcType="VARCHAR" />
		<result column="pic_third" property="picThird" jdbcType="VARCHAR" />
		<result column="pic_fourth" property="picFourth" jdbcType="VARCHAR" />
		<result column="pic_fifth" property="picFifth" jdbcType="VARCHAR" />
		<result column="pic_sixth" property="picSixth" jdbcType="VARCHAR" />
		<result column="pic_seventh" property="picSeventh" jdbcType="VARCHAR" />
		<result column="pic_eighth" property="picEighth" jdbcType="VARCHAR" />
		<result column="pic_ninth" property="picNinth" jdbcType="VARCHAR" />
		<result column="pic_tenth" property="picTenth" jdbcType="VARCHAR" />
		<result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		share_record_id, user_id, user_name, head, goods_id, goods_template_id, period,
		goods_name,
		title, content, pic_first, pic_second, pic_third, pic_fourth, pic_fifth,
		pic_sixth,
		pic_seventh, pic_eighth, pic_ninth, pic_tenth, insert_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from share_record
		where share_record_id = #{shareRecordId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from share_record
		where share_record_id = #{shareRecordId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.jxlianlian.spring.mybatis.model.ShareRecord">
		insert into share_record (share_record_id, user_id, user_name,
		head, goods_id, goods_template_id,
		period, goods_name, title,
		content, pic_first, pic_second,
		pic_third, pic_fourth, pic_fifth,
		pic_sixth, pic_seventh, pic_eighth,
		pic_ninth, pic_tenth, insert_time
		)
		values (#{shareRecordId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
		#{userName,jdbcType=VARCHAR},
		#{head,jdbcType=VARCHAR}, #{goodsId,jdbcType=BIGINT}, #{goodsTemplateId,jdbcType=BIGINT},
		#{period,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{picFirst,jdbcType=VARCHAR}, #{picSecond,jdbcType=VARCHAR},
		#{picThird,jdbcType=VARCHAR}, #{picFourth,jdbcType=VARCHAR},
		#{picFifth,jdbcType=VARCHAR},
		#{picSixth,jdbcType=VARCHAR}, #{picSeventh,jdbcType=VARCHAR}, #{picEighth,jdbcType=VARCHAR},
		#{picNinth,jdbcType=VARCHAR}, #{picTenth,jdbcType=VARCHAR},
		#{insertTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jxlianlian.spring.mybatis.model.ShareRecord">
		insert into share_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shareRecordId != null">
				share_record_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="head != null">
				head,
			</if>
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="goodsTemplateId != null">
				goods_template_id,
			</if>
			<if test="period != null">
				period,
			</if>
			<if test="goodsName != null">
				goods_name,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="picFirst != null">
				pic_first,
			</if>
			<if test="picSecond != null">
				pic_second,
			</if>
			<if test="picThird != null">
				pic_third,
			</if>
			<if test="picFourth != null">
				pic_fourth,
			</if>
			<if test="picFifth != null">
				pic_fifth,
			</if>
			<if test="picSixth != null">
				pic_sixth,
			</if>
			<if test="picSeventh != null">
				pic_seventh,
			</if>
			<if test="picEighth != null">
				pic_eighth,
			</if>
			<if test="picNinth != null">
				pic_ninth,
			</if>
			<if test="picTenth != null">
				pic_tenth,
			</if>
			<if test="insertTime != null">
				insert_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shareRecordId != null">
				#{shareRecordId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="head != null">
				#{head,jdbcType=VARCHAR},
			</if>
			<if test="goodsId != null">
				#{goodsId,jdbcType=BIGINT},
			</if>
			<if test="goodsTemplateId != null">
				#{goodsTemplateId,jdbcType=BIGINT},
			</if>
			<if test="period != null">
				#{period,jdbcType=BIGINT},
			</if>
			<if test="goodsName != null">
				#{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="picFirst != null">
				#{picFirst,jdbcType=VARCHAR},
			</if>
			<if test="picSecond != null">
				#{picSecond,jdbcType=VARCHAR},
			</if>
			<if test="picThird != null">
				#{picThird,jdbcType=VARCHAR},
			</if>
			<if test="picFourth != null">
				#{picFourth,jdbcType=VARCHAR},
			</if>
			<if test="picFifth != null">
				#{picFifth,jdbcType=VARCHAR},
			</if>
			<if test="picSixth != null">
				#{picSixth,jdbcType=VARCHAR},
			</if>
			<if test="picSeventh != null">
				#{picSeventh,jdbcType=VARCHAR},
			</if>
			<if test="picEighth != null">
				#{picEighth,jdbcType=VARCHAR},
			</if>
			<if test="picNinth != null">
				#{picNinth,jdbcType=VARCHAR},
			</if>
			<if test="picTenth != null">
				#{picTenth,jdbcType=VARCHAR},
			</if>
			<if test="insertTime != null">
				#{insertTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jxlianlian.spring.mybatis.model.ShareRecord">
		update share_record
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="head != null">
				head = #{head,jdbcType=VARCHAR},
			</if>
			<if test="goodsId != null">
				goods_id = #{goodsId,jdbcType=BIGINT},
			</if>
			<if test="goodsTemplateId != null">
				goods_template_id = #{goodsTemplateId,jdbcType=BIGINT},
			</if>
			<if test="period != null">
				period = #{period,jdbcType=BIGINT},
			</if>
			<if test="goodsName != null">
				goods_name = #{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="picFirst != null">
				pic_first = #{picFirst,jdbcType=VARCHAR},
			</if>
			<if test="picSecond != null">
				pic_second = #{picSecond,jdbcType=VARCHAR},
			</if>
			<if test="picThird != null">
				pic_third = #{picThird,jdbcType=VARCHAR},
			</if>
			<if test="picFourth != null">
				pic_fourth = #{picFourth,jdbcType=VARCHAR},
			</if>
			<if test="picFifth != null">
				pic_fifth = #{picFifth,jdbcType=VARCHAR},
			</if>
			<if test="picSixth != null">
				pic_sixth = #{picSixth,jdbcType=VARCHAR},
			</if>
			<if test="picSeventh != null">
				pic_seventh = #{picSeventh,jdbcType=VARCHAR},
			</if>
			<if test="picEighth != null">
				pic_eighth = #{picEighth,jdbcType=VARCHAR},
			</if>
			<if test="picNinth != null">
				pic_ninth = #{picNinth,jdbcType=VARCHAR},
			</if>
			<if test="picTenth != null">
				pic_tenth = #{picTenth,jdbcType=VARCHAR},
			</if>
			<if test="insertTime != null">
				insert_time = #{insertTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where share_record_id = #{shareRecordId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jxlianlian.spring.mybatis.model.ShareRecord">
		update share_record
		set user_id = #{userId,jdbcType=BIGINT},
		user_name = #{userName,jdbcType=VARCHAR},
		head = #{head,jdbcType=VARCHAR},
		goods_id = #{goodsId,jdbcType=BIGINT},
		goods_template_id = #{goodsTemplateId,jdbcType=BIGINT},
		period = #{period,jdbcType=BIGINT},
		goods_name = #{goodsName,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		pic_first = #{picFirst,jdbcType=VARCHAR},
		pic_second = #{picSecond,jdbcType=VARCHAR},
		pic_third = #{picThird,jdbcType=VARCHAR},
		pic_fourth = #{picFourth,jdbcType=VARCHAR},
		pic_fifth = #{picFifth,jdbcType=VARCHAR},
		pic_sixth = #{picSixth,jdbcType=VARCHAR},
		pic_seventh = #{picSeventh,jdbcType=VARCHAR},
		pic_eighth = #{picEighth,jdbcType=VARCHAR},
		pic_ninth = #{picNinth,jdbcType=VARCHAR},
		pic_tenth = #{picTenth,jdbcType=VARCHAR},
		insert_time = #{insertTime,jdbcType=TIMESTAMP}
		where share_record_id = #{shareRecordId,jdbcType=BIGINT}
	</update>
</mapper>